a:active, a:active * { outline: none !important; outline-style: none !important; }
a:focus, a:focus * { outline: none !important; outline-style: none !important; }

div.search {
  margin-top:20px;
}

div.search input[type="text"] {
  border:#a9a9a9 1px solid;
  padding:4px;
  width:250px;
}

div.search input[type="submit"]
{
  border:#a9a9a9 2px solid;
  padding:3px;
}

div.img {
  margin:15px;
  float:left;
}

div.img img {
  padding:1px;
  border:1px solid #ffffff;
}

div.img a:hover img {
  padding:1px;
  border:1px solid #808080;
}

div.img a.front {
  display:block;
}

div.img a.back {
  display:none;
}

div.desc {
  text-align:center;
  width:410px;
  margin:2px;
}

div.desc span.callsign {
  letter-spacing:1px;
  font-family:Times New Roman;
  font-weight:bold;
}

div.desc a {
  text-decoration:none;
}

div#main, div#paging {
  margin-left:auto;
  margin-right:auto;
  width:900px;
}

div#paging ul {
  list-style-type:none;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:10px;
  padding-left:0px;
}

div#paging ul li {
  display:inline;
  margin-left:5px;
  margin-right:5px;
}

div#paging ul a {
  text-decoration:none;
}

div#paging ul a:hover {
  text-decoration:underline;
}

div#footer p.copyright {
  margin-top:0px;
  margin-bottom:0px;
  font-size: 11px;
  color: #777777;
}