div#paging {
  margin-left:auto;
  margin-right:auto;
  width:900px;
}

div#paging ul {
  list-style-type:none;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:10px;
  padding-left:0px;
}

div#paging ul li {
  display:inline;
  margin-left:5px;
  margin-right:5px;
}

div#paging ul a {
  text-decoration:none;
}

div#paging ul a:hover {
  text-decoration:underline;
}
