<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>QSL</display-name>

  <listener>
    <listener-class>com.lz2zg.qsl.servlet.Initializer</listener-class>
  </listener>  

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.AdminServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddCardServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.AddCardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddCardServlet</servlet-name>
    <url-pattern>/admin/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteCardServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.DeleteCardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteCardServlet</servlet-name>
    <url-pattern>/admin/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditCardServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.EditCardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditCardServlet</servlet-name>
    <url-pattern>/admin/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OAuth2CallbackServlet</servlet-name>
    <servlet-class>com.lz2zg.qsl.servlet.OAuth2CallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAuth2CallbackServlet</servlet-name>
    <url-pattern>/admin/oauth2callback</url-pattern>
  </servlet-mapping>
  
<!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
-->
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.lz2zg.qsl.servlet.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>OAuth2Filter</filter-name>
    <filter-class>com.lz2zg.qsl.servlet.OAuth2Filter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>OAuth2Filter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
</web-app>
